<form [formGroup]="form"
    class="h-100 w-100 d-flex flex-wrap justify-content-center align-content-start p-4 position-relative overflow-auto">

        <mat-form-field class="col-12 col-md-9 col-lg-7 mb-5"  appearance="outline">
            <mat-label>عنوان سوال</mat-label>
            <input formControlName="title" matInput  type="text">
            <mat-error>وارد کردن عنوان الزامی است</mat-error>
        </mat-form-field>


    <ng-container *ngIf="subQuestions$ | async as qList">
        <article class="h-100 col-12 col-md-9 col-lg-7 d-flex flex-wrap justify-content-center align-content-start"
            *ngIf="qList.length > 0 else placeholder">

            <div *ngFor="let sub of qList; let i = index; trackBy: trackById" [ngSwitch]="sub.type" class="col-12 mb-5">

                <div class="col-12 d-flex justify-content-between align-items-center mb-3">
                    <label class="neutral_variant__shade-10">زیر سوال شماره {{i + 1}}</label>
                    <button (click)="removeSubQuestion(sub)" class="error__shade-50" mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

                <ng-container *ngSwitchCase="questionTypeEnum.text" class="w-100 h-100">
                    <app-q-text [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-text>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypeEnum.single_select">
                    <app-q-single-select [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-single-select>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypeEnum.multi_select">
                    <app-q-multi-select [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-multi-select>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypeEnum.range">
                    <app-q-range [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-range>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypeEnum.date">
                    <app-q-date [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-date>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypeEnum.time">
                    <app-q-time [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-time>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypeEnum.file">
                    <app-q-file [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-file>
                </ng-container>
                <ng-container *ngSwitchCase="questionTypeEnum.radio">
                    <app-q-radio [data]="sub" (valueChanged)="onSubValueChanged($event)"></app-q-radio>
                </ng-container>


            </div>

            <div class="col-12 d-flex flex-wrap justify-content-end">
                <button (click)="submitQuestion()" [disabled]="!(isQuestionValid$ | async)" mat-flat-button class="bg-neutral_variant__shade-10 system_color__white">ثبت</button>
            </div>

        </article>
    </ng-container>



    <ng-template #placeholder>
        <p class="neutral_variant__shade-10 col-12 text-center">پرسشی موجود نیست</p>
    </ng-template>

    <button mat-fab class="bg-neutral_variant__shade-10 system_color__white add-btn" [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button class="col-12 p-0 cursor-pointer px-3" mat-menu-item *ngFor="let item of QuestionMenuItems"
            (click)="addSubQuestion(item)">
            <div class="col-12 d-flex justify-content-between" style="cursor: pointer !important;">
                <span>{{item.name}}</span>
                <mat-icon class="neutral_variant__shade-10">{{item.value | qTypeIcon}}</mat-icon>
            </div>
        </button>
    </mat-menu>



</form>