<section class="h-100 w-100 d-flex flex-wrap justify-content-center align-content-center p-4 position-relative overflow-auto">
    <!-- <header class="col-12 d-flex justify-content-between mb-4">
        <span>ایجاد سوال</span>
        <mat-icon>close</mat-icon>
    </header> -->

    <article class="h-100 col-12 col-md-9 col-lg-7 d-flex flex-wrap justify-content-center align-content-start"
        *ngIf="subQuestions.length > 0 else placeholder">

        <div *ngFor="let sub of subQuestions; let i = index" [ngSwitch]="sub.type" class="col-12 mb-5">

            <label class="neutral_variant__shade-10 mb-3">زیر سوال شماره {{i + 1}}</label>

            <ng-container *ngSwitchCase="questionTypeEnum.text" class="w-100 h-100">
                <app-q-text></app-q-text>
            </ng-container>
            <ng-container *ngSwitchCase="questionTypeEnum.single_select">
                <app-q-single-select></app-q-single-select>
            </ng-container>
            <ng-container *ngSwitchCase="questionTypeEnum.multi_select">
                <app-q-multi-select></app-q-multi-select>
            </ng-container>
            <ng-container *ngSwitchCase="questionTypeEnum.range">
                <app-q-range></app-q-range>
            </ng-container>
            <ng-container *ngSwitchCase="questionTypeEnum.date">
                <app-q-date></app-q-date>
            </ng-container>
            <ng-container *ngSwitchCase="questionTypeEnum.time">
                <app-q-time></app-q-time>
            </ng-container>
            <ng-container *ngSwitchCase="questionTypeEnum.file">
                <app-q-file></app-q-file>
            </ng-container>
            <ng-container *ngSwitchCase="questionTypeEnum.radio">asdfergh</ng-container>


        </div>


    </article>

    <ng-template #placeholder>
        <p class="neutral_variant__shade-10">پرسشی موجود نیست</p>
    </ng-template>

    <button mat-fab class="bg-neutral_variant__shade-10 system_color__white add-btn" [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of QuestionMenuItems" (click)="addSubQuestion(item)">
            {{item.name}}
        </button>
    </mat-menu>



</section>