// ? set all color collection that may use in app (based in figma)
$colors: (
    primary: (
        default: #160362,
        shade-10: #160362,
        shade-20: #2d2276,
        shade-30: #433b8e,
        shade-40: #5b53a7,
        shade-50: #746cc2,
        shade-60: #8e86de,
        shade-70: #a9a1fb,
        shade-80: #c6bfff,
        shade-90: #e4dfff,
        shade-95: #f3eeff,
        shade-99: #fffbff,
    ),
    secondary: (
        default: #ec6608,
        shade-10: #341100,
        shade-20: #562000,
        shade-30: #7a3000,
        shade-40: #9f4100,
        shade-50: #c75400,
        shade-60: #ee680b,
        shade-70: #ff8d50,
        shade-80: #ffb692,
        shade-90: #ffdbcb,
        shade-95: #ffede6,
        shade-99: #fffbff,
    ),
    tertiary: (
        default: #d5e7d4,
        shade-10: #00201a,
        shade-20: #00382e,
        shade-30: #005144,
        shade-40: #006b5b,
        shade-50: #008673,
        shade-60: #00a38c,
        shade-70: #35bfa6,
        shade-80: #59dbc1,
        shade-90: #79f8dd,
        shade-95: #b7ffec,
        shade-99: #f3fffa,
    ),
    error: (
        shade-10: #410002,
        shade-20: #690005,
        shade-30: #93000a,
        shade-40: #ba1a1a,
        shade-50: #de3730,
        shade-60: #ff5449,
        shade-70: #ff897d,
        shade-80: #ffb4ab,
        shade-90: #ffdad6,
        shade-95: #ffedea,
        shade-99: #fffbff,
    ),
    neutral: (
        default: #879ea4,
        shade-10: #1c1b1f,
        shade-20: #313034,
        shade-30: #48464a,
        shade-40: #5f5e62,
        shade-50: #78767a,
        shade-60: #929094,
        shade-70: #adaaaf,
        shade-80: #c9c5ca,
        shade-90: #e5e1e6,
        shade-95: #f4eff4,
        shade-99: #fffbff,
    ),
    neutral_variant: (
        shade-10: #1c1b23,
        shade-20: #312f38,
        shade-30: #47464f,
        shade-40: #5f5d67,
        shade-50: #787680,
        shade-60: #928f99,
        shade-70: #adaab4,
        shade-80: #c9c5d0,
        shade-90: #e5e1ec,
        shade-95: #f3effa,
        shade-99: #fffbff,
    ),
    system_color: (
        white: #ffffff,
        white-2: #f4f7fe,
        blue: #a3aed0,
        red: #f44336,


        gray: #808080,
        gray-0: #a3a9b2,
        gray-1: #9e9e9e,
        gray-2: #eeeeee,
        gray-3: #f5f7fa,
        gray-4: #ebecf1,
        gray-5: #bebebe,
        gray-6: #f5ecf6,
        red-2: #e2525c,
        orange-1: #ff5722,
        white-smoke: whitesmoke,
        black: #000000,
        purple: #9c35b1,
        purple-2: #f3e5f5,
    ),
);


@function setColor($colorName, $shade: default) {
    @return map-get(map-get($colors, $colorName), $shade);
}
