<form [formGroup]="form" class="col-12 d-flex flex-wrap justify-content-between align-content-start">

    <mat-form-field class="col-12" appearance="outline">
        <mat-label>عنوان</mat-label>
        <input formControlName="key" matInput placeholder="عنوان" autofocus type="text">
        <mat-error>وارد کردن عنوان الزامی است</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12 mb-3" appearance="fill">
        <mat-select [disabled]="true" placeholder="پاسخ کاربر">
        </mat-select>
        <!-- <mat-error>وارد کردن این فیلد الزامی است</mat-error> -->
    </mat-form-field>

    <div class="col-12 d-flex flex-wrap justify-content-between align-content-center align-items-center mb-3">
        <label class="neutral_variant__shade-10 mb-3">گزینه ها</label>

        <mat-form-field appearance="outline" class="col-8 col-sm-12 p-0">
            <mat-chip-grid #chipList formControlName="values">
                <mat-chip-row *ngFor=" let value of form.controls['values'].value; let i = index" [removable]="true"
                    (removed)="removeValue(i)">
                    {{value}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip-row>
                <input placeholder="مقدار جدید را وارد کنید" #input matInput [matChipInputFor]="chipList"
                    (matChipInputTokenEnd)="addValue($event);">
            </mat-chip-grid>

        </mat-form-field>

    </div>
    <label class="col-12 neutral_variant__shade-10 mb-3">تنظیمات</label>
    <div formGroupName="validations" class="col-12 d-flex flex-wrap justify-content-between align-content-center align-items-center mb-2">
        <mat-form-field appearance="outline">
            <input formControlName="max" matInput placeholder="بیشترین تعداد پاسخ" type="text">
        </mat-form-field>
        <div class="col-12 d-flex justify-content-end">
            <mat-slide-toggle formControlName="isRequired">الزامی</mat-slide-toggle>
        </div>
    </div>


</form>