/* You can add global styles to this file, and also import other style files */
@use "./shared/styles/abstracts" as *;
@import "./shared/styles/typography.scss";
@import "./shared/styles/classes/table";


html,
body {
  height: 100%;
  direction: rtl;
}


body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100% !important;
}

div,
li,
strong,
input,
small,
button,
label,
textarea,
select,
select option,
mat-card-subtitle,
mat-card-title,
mat-hint,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre,
a,
th,
td,
mat-card-title {
  @include ESTEDAD_REGULAR;
  font-weight: normal;
  cursor: default;
  margin: 0;
  text-align: right;
  outline: none;
}

input {
  cursor: auto !important;
}

button {
  span {
    cursor: pointer !important;
  }

  &:disabled {
    background-color: #E8E8E8 !important;
    color: gray !important;
    cursor: default;

    .mat-button-wrapper {
      cursor: default !important;
    }
  }
}

// ? scroll bar style
* {
  box-sizing: border-box;
  // direction: rtl !important;

  &:focus-visible {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E4DFD1;
    border-radius: 24px;
  }
}

// ? scroll bar
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


.paginator {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.12);
  background-color: setColor(system_color, white);
  z-index: 10;
}

// ? mat-form-field
.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0px !important;
}

.mat-form-field-subscript-wrapper {
  margin: 0px !important;
}


.mdc-list-item__primary-text {
  display: flex;
  cursor: pointer;
}

.mat-mdc-list-item {
  cursor: pointer !important;
}

.pointer{
  cursor: pointer;
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field-hint-wrapper {
  padding: 0 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading {
  border-color: #918666;

}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: #918666;

}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
  border-color: #918666;

}

.mdc-text-field .mdc-text-field__input {
  caret-color: #918666;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #5B5440;

}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #5B5440;
  --mdc-switch-selected-handle-color: #5B5440;
  --mdc-switch-selected-hover-state-layer-color: #5B5440;
  --mdc-switch-selected-pressed-state-layer-color: #5B5440;
  --mdc-switch-selected-focus-handle-color: #5B5440;
  --mdc-switch-selected-hover-handle-color: #5B5440;
  --mdc-switch-selected-pressed-handle-color: #5B5440;
  --mdc-switch-selected-focus-track-color: #918666;
  --mdc-switch-selected-hover-track-color: #918666;
  --mdc-switch-selected-pressed-track-color: #918666;
  --mdc-switch-selected-track-color: #918666;
}

.mat-datepicker-toggle-active {
  color: #918666;
}

.mat-calendar-body-selected {
  background-color: #918666;
  color: #fff;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #D7D0B9;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #E4DFD1;
}

.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: #918666 !important;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: #918666 !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: #918666 !important;
}

