<mat-drawer-container class="col-12 p-0 justify-content-center mx-0 h-100">

    <mat-drawer position="end" #question [mode]="'side'"
        class="d-flex flex-wrap justify-content-center align-items-start mx-0 p-0 rad-3">

        <!-- ? Main -->
        <div class="d-flex flex-wrap col-12 justify-content-between align-items-start h-100 mx-0 p-3 rad-3">

            <!--? Search Btn  -->
            <div class="d-flex flex-wrap col-12 justify-content-between align-items-center mx-0 p-0">
                <h4 class="m-0">جستجو سوالات</h4>
                <button mat-icon-button [autofocus]="true" (click)="question.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <!--? Form  -->
            <form [formGroup]="filterForm"
                class="d-flex flex-wrap col-12 justify-content-center align-items-start mx-0 mt-2 pb-4 pr-2 search-form">

                <!--? Nickname -->
                <mat-form-field appearance="outline"
                    class="col-12 justify-content-between align-items-start mx-0 mb-2 p-0">
                    <input formControlName="searchTerm" matInput disable placeholder="عنوان سوال">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <!--? Accept Btn  -->
                <div class="col-12 d-flex flex-nowrap justify-content-center align-items-center">
                    <button type="submit" mat-raised-button class="col-4 col-sm-12 col-xs-12 p-0 bg-neutral_variant__shade-10 rad-36"
                        (click)="search();question.toggle()">
                        <span class="system_color__white">جستجو</span>
                    </button>
                </div>

            </form>


        </div>

    </mat-drawer>

    <!-- ? Main Drawer -->
    <mat-drawer-content
        class="d-flex flex-wrap col-12 justify-content-center align-items-center drawer-content mx-0" style="position: relative;">

        <section class="col-12 h-100">

            <!-- ? Header -->
            <app-table-header class="col-12 w-100 p-0" [config]="configTableHeader" (SearchEmiter)="question.toggle()"
                (addItem)="createQuestion()">
            </app-table-header>

            <!-- ? Data Table -->
            <main class="col-12 w-100 main-table table-container">

                <!-- ? Table -->
                <table mat-table *ngIf="questions" [dataSource]="questions.items" class="mat-elevation-z8">

                    <!-- ? Username Column -->
                    <ng-container matColumnDef="نام">
                        <th mat-header-cell *matHeaderCellDef>نام</th>
                        <td mat-cell *matCellDef="let element">
                            <span> {{element.name}} </span>
                        </td>
                    </ng-container>

                    <!-- ? Nickname Column -->
                    <ng-container matColumnDef="عنوان">
                        <th mat-header-cell *matHeaderCellDef>عنوان</th>
                        <td mat-cell *matCellDef="let element">
                            <span> {{element.title}} </span>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- ? Customer Table Skeleton -->
                <ng-container *ngIf="!questions">
                    <ngx-skeleton-loader count="20" [theme]="{height: '60px'}"></ngx-skeleton-loader>
                </ng-container>

            </main>

            <!-- ? Paginator -->
            <div *ngIf="questions"
                class="paginator d-flex flex-wrap col-12 justify-content-end align-content-center mx-0 px-2 pt-2">
                <app-paging class="col-12 p-0" [totalPages]="questions.totalPages" [currentPage]="questions.pageIndex" (clicked)="search($event)">
                </app-paging>
            </div>

        </section>

    </mat-drawer-content>

</mat-drawer-container>